.Home .Content{
    padding-top: 64px;
}

.Home .NewOrder {
    width: 90%;
    margin: auto;
    height: 48px;

    background-color: #1F1B16;
    color: white;
    border-radius: 8px;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: all 250ms;
}

.Home .NewOrder:hover {
    background-color: #302619;
}